@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Golden Scrollbar (Global) */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #C29543;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #dcb362;
}